!*.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Tanstack route generator
.tanstack
# We don't ignore the routeTree .ts file because intellisense needs it
